.dart_tool/
.git/
.github/
.idea/
.vscode/
.env
.env.*
!.env.example
build/
outputs/
scratch/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/.last_build_id
linux/
macos/
windows/
laravel-backend/.env
laravel-backend/.env.*
!laravel-backend/.env.example
laravel-backend/.phpunit.cache/
laravel-backend/node_modules/
laravel-backend/public/build/
laravel-backend/public/hot
laravel-backend/public/storage
laravel-backend/storage/logs/*.log
laravel-backend/vendor/
*.log
.DS_Store
